
<h3> <%= @trip.name %>
<hr />

<div>

  <button class="ui green button">
    <%=link_to "Add Location", new_trip_location_path(@trip)%>
  </button>

  <button class="ui button">
    <%=link_to "Delete", trip_path(@trip), method: :delete %> 
  </button>

  <button class="ui button">
    <%= link_to 'Edit', edit_trip_path(@trip) %>
  </button>

  <button class="ui button">
    <%= link_to 'Back', trips_path(@trip) %>
  </button>

    <input type="text" placeholder="Search..">

</div>

<br/>
<br/>

<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="description-tab active item">
        Description
      </a>
      <a class="location-tab item">
        Locations
      </a>
      
    </div>
  </div>

  <div class="twelve wide stretched column">
    <div class="description-segment ui segment">
      <%= @trip.description %>
    </div>

    <div class="location-segment ui segment hidden">
      <% @trip.locations.each do |l| %>
        <li>
            <%= l.name  %> || <%= link_to "Address", trip_location_path(@trip, l) %>
        </li>
      <% end %>

    </div>
    </div>
  </div>
  
<br/>

 
  <!--The div element for the map -->
  <div mapContainer>
    <div id="map"></div>
  </div>




<!-- got my API key. -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initMap">
</script>

<!-- This is just a static map// could be modified for user functionality
Would like Pins to populate for Trips/Locations/Addresses
 -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNCH17EUl7Az-gLaFBoOQChN5jF0dUIN0&callback=initMap">
</script>


<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru--- cant seem to change it. SLC=] is at 40.7608° N, 111.8910° W
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>





<script>

/*
  select the html elements you want
  then assign them to a descriptive variable
*/
var descriptionTab = document.querySelector('.description-tab');
var locationTab = document.querySelector('.location-tab');
var descriptionSegment = document.querySelector('.description-segment');
var locationSegment = document.querySelector('.location-segment');

/*
  function to remove classes from other tabs
  and add it to the one clickeds
*/
var setToActive = function(e) {
  var button = e.target;
  // remove the active class from all other tabs here


  locationTab.classList.remove('active');
  descriptionTab.classList.remove('active');
  descriptionSegment.classList.remove('hidden');
  locationSegment.classList.remove('hidden');
  // add the class to the one just clicked
  if(e.target.classList.contains('description-tab')){
    locationSegment.classList.add('hidden');
  } else if(e.target.classList.contains('location-tab')){
    descriptionSegment.classList.add('hidden');
  }
  button.classList.add('active')
}

/*
  listen to the tabs "click" events,
*/
descriptionTab.addEventListener('click', setToActive);
locationTab.addEventListener('click', setToActive);
</script>
